
	{% extends "base.html" %}

	{% block content %}
	<div class="d-flex justify-content-center py-3 bg-primary text-light">
		<h1>TATA Researcher Discovery Platform</h1>
	</div>
	<div class="d-flex justify-content-center py-3">
	<form action="/" method="POST">
		<!-- <label for="dept_name">Choose a department:</label> -->

		<!-- <select name="dept_name" id="dept_name" required>
		  
		  	{% if dept_name %}
		  	<option value='{{ dept_name }}'>
		  		{{ dept_name }}
		  	</option>
		  	{% else %}
		  	<option value="" selected disabled hidden>
		  		Choose here
		  	</option>
		  	{% endif %}	
		  
		  <option value="Aerospace Engineering">Aerospace Engineering</option>
		  <option value="Energy Science and Engineering">Energy Science and Engineering</option>
		  <option value="Chemical Engineering">Chemical Engineering</option>
		  <option value="Environmental Science and Engineering (ESED)">Environmental Science and Engineering (ESED)</option>
		  <option value="Physics">Physics</option>
		  <option value="Mechanical Engineering">Mechanical Engineering</option>
		  <option value="Civil Engineering">Civil Engineering</option>
		  <option value="Biosciences and Bioengineering">Biosciences and Bioengineering</option>
		</select> -->
		<!-- <br><br>
		<input type="submit" name="submit" value="Submit" class="bg-success py-1 px-3 text-white rounded-pill border-0"> -->

		<div class="input-group mt-5 ">
		  <input type="text" class="form-control" placeholder="Research Topic" aria-label="Research Topic" name="research_name" aria-describedby="button-addon2">
		  <div class="input-group-append">
		    <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Search</button>
		  </div>
		</div>

	</form>
	</div>
	<div class="d-block justify-content-center py-3 px-3">
		<div class="d-flex justify-content-between py-3">
			<h3>List of {{ dept_name }} Faculty</h3>

			<form action="/" method="POST">
				<button type="submit" name="download-csv" class="btn btn-primary">
					Download Csv
				</button>
			</form>
			
			<form action="/" method="POST">
				<button type="submit" name="web_prev" class="btn btn-primary">
				{% if web_prev == False %}
				 Website Preview
				 {% else %}
				 Data Scraped
				 {% endif %}
				</button>
				<!-- <input type="submit" class='toggle' data-toggle="toggle" name="web_prev" value="Website Preview"> -->
			</form>
			<!-- <input type="checkbox" class='toggle' checked data-toggle="toggle"> -->
			 <!-- <div class='status'>Toggled</div> -->
		</div>

		{% if len > 0 %}
			{% if web_prev == False %}
				<table class="table">
				  <thead><!-- 
				    <tr>
				      <th scope="col">#</th>
				      <th scope="col">First</th>
				      <th scope="col">Last</th>
				      <th scope="col">Handle</th>
				    </tr>
				  </thead> -->
				  <tbody>
				  	{%for i in range(0,len)%}
				    <tr>
				    	<th scope="row">{{i}}</th>
			    		{%for j in table[i]%}
					      
					      <td>{{j.replace(" [at] ","@").replace("[at]","@")}}</td>
			      		{%endfor%}
				    </tr>
				    {%endfor%}
				  </tbody>
				</table>
			{% endif %}	
			
		{% else %}
			{% if web_prev == False %}
				Data not Found
			{% endif %}	

		{% endif %}	
		{% if web_prev %}
				{%for tab in table_body%}
				 
				<table class="table">
					{{ tab|safe }}
				</table>
				{%endfor%}
		{% endif %}		
	</div>
	<script type="text/javascript">

	</script>

	{% endblock %}